<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @plato.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @plato.precio %>
</p>

<%= link_to 'Edit', edit_plato_path(@plato) %> |
<%= link_to 'Back', platos_path %>
