<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @comentario.comentario %>
</p>

<p>
  <strong>Puntos:</strong>
  <%= @comentario.puntos %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario_id %>
</p>

<p>
  <strong>Plato:</strong>
  <%= @comentario.plato_id %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
